*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: futura, sans-serif;
}

:root {
--white: #ffffff;
--black: #000000;
--green: #1E9928;
--blue: #191C4E;
--purple: #470192;
--pink: #F50097;
--browngreen: #6C6207;
--orange: #F45319;
--rusty: #9C3704;
}

body{
    background-color: var(--white);
    color: var(--black);
    line-height: 1.6;
    font-size: 18px;
    margin: 0;
    padding: 0;
}










/* Header */

.logo{
    display: flex;
    height: auto;
    margin: 1px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0;
    border: 2px solid var(--black);
}

nav{
    flex: 1;
    text-align: right;
}
    

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

.menu-icon{
    display: none;
}

.menu-checkbox{
    display: none;
}

a{
    text-decoration: none;
    color: var(--black);
}

a:hover{
    color: var(--green);
}











/* Home page */

.main-home{
    display: normal;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.85)), url("./200kb images SP/pexels-pixabay-267961.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
}

.main-title{
    color: var(--white);
    text-align: center;
    padding-top: 10px;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--green);
}

.main-2-title{
    color: var(--white);
    text-align: center;
    padding: 5px;
    font-size: 50px;
    font-weight: normal;
    text-shadow: 2px 2px 4px var(--green);
}

.main-p{
    color: var(--white);
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 360px;
    font-weight: normal;
    text-shadow: 2px 2px 4px var(--green);
}

.explore{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
    
}

.explore-section{
    flex-basis: 40%;
    min-width: 300px;
}

.explore-section img{
    max-width: 97%;
    max-height: 97%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.explore-section h2{
    font-size: 28px;
    color: var(--blue);
    text-decoration: underline 5px;
    text-align: center;
}

.explore-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.explore-section a{
    text-align: center;
    justify-self: center;
    justify-content: center;
    display: inline-block;
}

.explore-section .button{
    padding: 10px 20px;
    background-color: var(--green);
    color: var(--white);
    font-size: 14px bold;
    border: none;
    border-radius: 25px;
    align-content: center;
    text-align: center;
    margin: 5%;  
    cursor: pointer;
    transition: background-color 0.3s;
}

.explore-section .button:hover{
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.kids{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}
.kids-section{
    flex-basis: 40%;
    min-width: 300px;
}
.kids-section img{
    max-width: 97%;
    max-height: 97%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.kids-section h2{
    font-size: 28px;
    color: var(--blue);
    text-decoration: underline 5px;
    text-align: center;
}

.kids-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.kids-section a{
    text-align: center;
    justify-self: center;
    justify-content: center;
    display: block;
}

.kids-section .button{
    padding: 10px 20px;
    background-color: var(--green);
    color: var(--white);
    font-size: 14px;
    border: none;
    border-radius: 25px;
    align-content: center;
    text-align: center;
    margin: 20px;  
    cursor: pointer;
    transition: background-color 0.3s;
}

.kids-section .button:hover{
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.visit{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}
.visit-section{
    flex-basis: 40%;
    min-width: 300px;

}

.visit-section img{
    max-width: 97%;
    max-height: 97%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.visit-section h2{
    font-size: 28px;
    color: var(--blue);
    text-decoration: underline 5px;
    text-align: center;
}

.visit-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.visit-section a{
    text-align: center;
    justify-self: center;
    justify-content: center;
    display: block;
}
.visit-section .button{
    padding: 10px 20px;
    background-color: var(--green);
    color: var(--white);
    font-size: 14px;
    border: none;
    border-radius: 25px;
    align-content: center;
    text-align: center;
    margin: 20px;  
    cursor: pointer;
    transition: background-color 0.3s;
}

.visit-section .button:hover{
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}











/* Exhibitions page */

.exhibition-main{
    display: normal;
    background-image: url("./200kb images SP/pexels-cottonbro-7170704.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 800px;
}

.exhibition-main .h1-text{
    color: var(--white);
    text-align: center;
    padding-top: 110px;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 8px 2px 4px var(--green);
}

.cosmology{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}

.cosmology-section{
    flex-basis: 40%;
    min-width: 300px;
}

.cosmology-section img{
    max-width: 80%;
    max-height: 97%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.cosmology-section h2{
    font-size: 28px;
    color: var(--purple);
    text-decoration: underline 5px;
    text-align: center;
}

.cosmology-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.robitics{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}

.robitics-section{
    flex-basis: 40%;
    min-width: 300px;
}

.robitics-section img{
    max-width: 97%;
    max-height: 97%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.robitics-section h2{
    font-size: 28px;
    color: var(--blue);
    text-decoration: underline 5px;
    text-align: center;
}

.robitics-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.evolution{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}

.evolution-section{
    flex-basis: 40%;
    min-width: 300px;
}

.evolution-section img{
    max-width: 97%;
    max-height: 97%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.evolution-section h2{
    font-size: 28px;
    color: var(--browngreen);
    text-decoration: underline 5px;
    text-align: center;
}

.evolution-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.biology{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}

.biology-section{
    flex-basis: 40%;
    min-width: 300px;
}

.biology-section img{
    max-width: 70%;
    max-height: 97%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.biology-section h2{
    font-size: 28px;
    color: var(--pink);
    text-decoration: underline 5px;
    text-align: center;
}

.biology-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.ecology{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}

.ecology-section{
    flex-basis: 40%;
    min-width: 300px;
}

.ecology-section img{
    max-width: 97%;
    max-height: 9%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.ecology-section h2{
    font-size: 28px;
    color: var(--green);
    text-decoration: underline 5px;
    text-align: center;
}

.ecology-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}










/* Events page */

.event-main{
    display: normal;
    background-image: url("./200kb images SP/celso-405219.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

.event-main .h1-text{
    color: var(--white);
    text-align: center;
    padding-top: 180px;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 8px 2px 4px var(--green);
}

.event-main p{
    color: var(--white);
    text-align: center;
    padding-top: 250px;
    font-size: 30px;
    font-weight: normal;
    text-shadow: 2px 2px 4px var(--green);
}

.night{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}

.night-section{
    flex-basis: 40%;
    min-width: 300px;
}

.night-section img{
    max-width: 97%;
    max-height: 80%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.night-section h2{
    font-size: 28px;
    color: var(--rusty);
    text-decoration: underline 5px;
    text-align: center;
}

.night-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.aeronautics{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}

.aeronautics-section{
    flex-basis: 40%;
    min-width: 300px;
}

.aeronautics-section img{
    max-width: 97%;
    max-height: 80%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.aeronautics-section h2{
    font-size: 28px;
    color: var(--blue);
    text-decoration: underline 5px;
    text-align: center;
}

.aeronautics-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.energetica{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}

.energetica-section{
    flex-basis: 40%;
    min-width: 300px;
}

.energetica-section img{
    max-width: 97%;
    max-height: 80%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.energetica-section h2{
    font-size: 28px;
    color: var(--orange);
    text-decoration: underline 5px;
    text-align: center;
}

.energetica-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.holiday{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}

.holiday-section{
    flex-basis: 40%;
    min-width: 300px;
}

.holiday-section img{
    max-width: 97%;
    max-height: 97%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.holiday-section h2{
    font-size: 28px;
    color: var(--pink);
    text-decoration: underline 5px;
    text-align: center;
}

.holiday-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}










/* Visit page */

.visit-main{
    display: normal;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.95)), url("./200kb images SP/mammoth-1257288_1920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

.visit-main .h1-text{
    color: var(--white);
    text-align: center;
    padding-top: 380px;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 8px 2px 4px var(--green);
}

.visit-intro, .visit-hours, .visit-shop, .visit-entrance, .visit-accessibility, .visit-tours, .visit-teachers, .visit-fooddrink{
    max-width: 1450px;
    margin: 50px 15px;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid var(--black);
    background-color: var(--white);
    text-align: left;
    align-content: center;
    transition: 0.3s ease-in-out;
}

.visit-intro:hover, .visit-hours:hover, .visit-shop:hover, .visit-entrance:hover, .visit-accessibility:hover, .visit-tours:hover, .visit-teachers:hover, .visit-fooddrink:hover{
    outline: none;
    border-color: var(--green);
    box-shadow: 0 0 5px var(--green);
    transform: matrix(1.01, 0, 0, 1.01, 0, 0);
}

.visit-intro h2, .visit-hours h2, .visit-shop h2, .visit-entrance h2, .visit-accessibility h2, .visit-tours h2, .visit-teachers h2, .visit-fooddrink h2{
    font-size: 28px;
    color: var(--blue);
    text-decoration: underline 5px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.visit-intro h2:hover, .visit-hours h2:hover, .visit-shop h2:hover, .visit-entrance h2:hover, .visit-accessibility h2:hover, .visit-tours h2:hover, .visit-teachers h2:hover, .visit-fooddrink h2:hover{
    color: var(--pink);
}

.visit-intro p, .visit-hours p, .visit-shop p, .visit-entrance p, .visit-accessibility p, .visit-tours p, .visit-teachers p, .visit-fooddrink p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1.5;
}

.visit-img{
    max-width: 97%;
    max-height: 97%;
    margin: 5px auto;
}

.visit-img img{
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    box-shadow: var(--green) 5px 5px 15px;
}


.visit-img:hover{
    transform: scale(1.02);
    transition: transform 0.5s ease;
}













/* Get Involved page */

.getinvolved-main{
    display: normal;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("./200kb images SP/pexels-stephen-leonardi-587681991-17117915.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

.getinvolved-main .h1-text{
    color: var(--white);
    text-align: center;
    padding-top: 380px;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 8px 2px 4px var(--green);
}

.support, .research, .internships, .volunteer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid var(--black);
}

.support-section, .research-section, .internships-section, .volunteer-section{
    flex-basis: 40%;
    min-width: 300px;
}

.getinvolved-img{
    max-width: 97%;
    max-height: 97%;
    margin: 10px auto;
    box-shadow: var(--green) 5px 5px 15px;
}

.support-section h2{
    font-size: 28px;
    color: var(--blue);
    text-decoration: underline 5px;
    text-align: center;
}

.support-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.research-section h2{
    font-size: 28px;
    color: var(--green);
    text-decoration: underline 5px;
    text-align: center;
}
.research-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.internships-section h2{
    font-size: 28px;
    color: var(--orange);
    text-decoration: underline 5px;
    text-align: center;
}

.internships-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.volunteer-section h2{
    font-size: 28px;
    color: var(--purple);
    text-decoration: underline 5px;
    text-align: center;
}

.volunteer-section p{
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.5;
}










/* Contact Page */

.contact-main{
    display: normal;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("./200kb images SP/exhibition-1863344_1920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

.contact-main .h1-text{
    color: var(--white);
    text-align: center;
    padding-top: 250px;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 8px 2px 4px var(--green);
}

.contact-container{
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 16px;
    border: 2px solid var(--black);
    box-shadow: var(--green) 5px 5px 15px;
}

.contact-container h2{
    text-align: center;
    margin-bottom: 30px;
    color: var(--black);
    font-size: 32px;
}

.contact-container form{
    margin-bottom: 22px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--black);
    border-radius: 8px;
    font-size: 16px;
}

input:focus, textarea:focus{
    outline: none;
    border-color: var(--green);
    box-shadow: 0 0 5px var(--green);
}

textarea{
    resize: vertical;
    min-height: 150px;
}

button{
    padding: 10px 20px;
    background-color: var(--green);
    color: var(--white);
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}










/* Footer */

.footer{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 20px;
    flex-wrap: wrap;
}

.footer a{
    color: var(--green);
    transition: color 0.3s;
}

.footer a:hover{
    color: var(--pink);
}


.copyright{
    text-align: center;
    font-size: 14px;
    color: var(--white);
    background-color: var(--black);
}









/* Responsive Design */

@media (max-width: 938px){

    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: left;
    }

    .menu-icon {
        display: flex;
        margin-top: 4px;
        margin-right: 10px;
        color: var(--black);
        font-size: 38px;
      }
    
      nav, #menu-checkbox {
        display: none;
        position: absolute;
        top: 90px;
        right: 10px;
        background-color: var(--white);
        width: 100px;
        box-shadow: 0 4px 8px var(--green);
        padding: 10px;
        border-radius: 5px;
        text-align: left;
      }
    
      #menu-checkbox:checked + .menu-icon + nav {
        display: block;
        flex-direction: column;
        width: 130px;
      }
    
      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    
      nav ul li {
        margin: 10px 0;
      }
    
      nav ul li a {
        text-decoration: none;
        color: var(--green);
        font-size: 18px;
        padding: 4px 8px;
        display: block;
      }

      .main-home{
        height: 500px;
      }
        .main-title{
            font-size: 40px;
        }



      .main-2-title{
        font-size: 30px;
        margin-top: 130px;
      }



    .main-p{
        display: none;
    }

    .exhibition-main{
        height: 500px;
    }



    .exhibition-main .h1-text{
        font-size: 40px;
    }

    .event-main{
        height: 500px;
    }

    .event-main .h1-text{
        font-size: 40px;
        padding-top: 140px;
    }

    .event-main h2{
        font-size: 20px;
        padding-top: 110px;
    }

    .visit-main{
        height: 500px;
    }

    .visit-main .h1-text{
        font-size: 40px;
        padding-top: 200px;
    }

    .getinvolved-main{
        height: 500px;
    }

    .getinvolved-main .h1-text{
        font-size: 40px;
        padding-top: 200px;
    }

    .contact-main{
        height: 500px;
    }

    .contact-main .h1-text{
        font-size: 40px;
        padding-top: 150px;
    }

    .contact-container{
        padding: 20px;
        margin: 40px;
        max-width: 930px;
    }

    .footer-hours, .footer-about, .footer-contact{
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    }
}
